html, body{
    margin: 0;
    padding: 0;    
}

div{
    margin-bottom: 10px;
}

input{
    margin: 0 10px;

}

#conteyners{
    width: 600px;
    background-color: bisque;
    padding: 10px 10px;
}

